a{
  font-size: 1.6rem;
  color: var(--alink);
  text-decoration: none;
  text-transform: uppercase;
}

@media (min-width: 800px) and (max-width: 1022px){
  a{
    font-size: 5.6rem;
  }
}

.btn-btn{
  background: none;
  width: 18rem;
  border: none;
  padding: 2rem 0;
  background-color: #0328EE;
  text-transform: uppercase;
  border-radius: 5rem ;
  font-size: 1.8rem;
  color: var(--alink);
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s linear
}

.bts{
  background: none;
  width: 18rem;
  border: none;
  padding: 2rem 0;
  background-color: #0328EE;
  text-transform: uppercase;
  border-radius: 5rem ;
  font-size: 1.8rem;
  color: var(--alink);
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s linear;
}

@media (min-width: 1023px) and (max-width: 1276px){
.btn-btn{
  font-size: 1.3rem;
  width: 15rem;
  padding: 1.5rem 0;
}
}

@media (min-width: 800px) and (max-width: 1022px){
  .bts{
    font-size: 5.6rem;
    width: 50rem;
    padding: 4rem 5rem;
    border-radius: 10rem;
}
}

.nav-list:link,
.nav-list:visited{

}

.btn-btn:hover{
  background-color: #010D50;
}

.btn-link{
  display: inline-block;
  width: 18rem;
  text-align: center;
  padding: 2rem 0;
  border-radius: 5rem;
  transition: background 0.3s linear;
}

@media (min-width: 1023px) and (max-width: 1276px){
.btn-link{
  width: 15rem;
  padding: 1.5rem 0;
  font-size: 1.3rem;
}
}

.btn-left{
  background-color: #0328EE;
  margin-right: 30px;
}

.btn-left:hover{
  background-color: #010D50;
}

.btn-right{
  background-color: #010D50;
}

.btn-right:hover{
  background-color: #0328EE;
}


