*,
*::before,
*::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img{
  max-width: 100%;
  display: block;
}



html{
font-size: 62.5%;
overflow-x: hidden;
}

body{
 /* position: relative;*/
  overflow-x: hidden;
}


/* global.css */

:root {
  /* Brand / main colors */
  --alink: #fff;
  --h1: #fff;
}

h1{
  font-size: 5.6rem;
  line-height: 1.1;
  font-weight: 800;
  color: var(--h1);
  margin-bottom: 3rem;
}

h2{
  font-size: 4rem;
  line-height: 1.2;
  font-weight: 600;
  color: var(--h1);
  
}

p{
  font-size: 2.2rem;
  font-weight: 300;
  line-height: 1.6;
  color: var(--h1);
}

.grid{
  display: grid;
  gap: 20px;
}


