*,
*::before,
*::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img{
  max-width: 100%;
  display: block;
}



html{
font-size: 62.5%;
}

body{
  position: relative;
}


/* global.css */

:root {
  /* Brand / main colors */
  --alink: #fff;
  --h1: #fff;
}

h1{
  font-size: 5.6rem;
  line-height: 1.1;
  font-weight: 700;
  color: var(--h1);
  margin-bottom: 3rem;
}

@media (min-width: 1430px) and (max-width: 1670px){
h1{
  font-size: 4.8rem;
}
}
@media (min-width: 1279px) and (max-width: 1428px){
  h1{
    font-size: 4.3rem;
  }
}

@media (min-width: 1023px) and (max-width: 1276px){
h1{
  font-size: 3.6rem;
}
}

h2{
  font-size: 3.2rem;
  line-height: 1.2;
  font-weight: 600;
  
}

p{
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.6;
  color: var(--h1);
}

@media (min-width: 1430px) and (max-width: 1670px){
  p{
    font-size: 1.8rem;
  }
}

@media (min-width: 1023px) and (max-width: 1276px){
p{
  font-size: 1.6rem;
}
}


.grid{
  display: grid;
  gap: 20px;
}

