.layout{
  min-width: 167rem;
    max-width: 192rem;
    margin: 0 auto;
    background-color: #010725;
}

.container{
      width: 100%;
    max-width: 167rem;
    margin: 0 auto;
    padding: 0 2.4rem;
}

.heads{
  padding: 6rem 0;
  background-color: #010725;
  z-index: 999;
}

.head{
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 9999;
  height: 6rem;
}



.logo{
  width: 20rem;
  aspect-ratio: 3/1;
  z-index: 8888;
}

.logos{
  width: 100%;
  height: 100%;
}

.main-nav-list{
  list-style: none;
  display: flex;
  gap: 24px;
}

.nava{
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

.nav-menu{
  border: none;
    background: none;
    cursor: pointer;
    background-color: #0328EE;
    display: none;
    z-index: 9999;
    border-radius: 50%;
    padding: 0.2rem;
}

.btn-menu{
  width: 4rem;
  height: 4rem;
  stroke: #fff;
}

.btn-close{
  display: none;
}



/*.                             */

.section-hero{
  position: relative;
  padding: 12rem 0;
  background-color: #010725;
  z-index: 999;
}

.section-hero::after{
  content: "";
  position: absolute;
  width: 600px;
  padding-bottom: 600px;
  top: -100px;
  left: 20px;
  z-index: -1;
  background-color: rgba(1, 13, 80, 0.8);
  filter: blur(100px);
  border-radius: 50%;
}

.section-hero::before{
  content: "";
  position: absolute;
  width: 600px;
  padding-bottom: 600px;
  top: 200px;
  right: 100px;
  z-index: -1;
  background-color: rgba(1, 13, 80, 0.8);
  filter: blur(100px);
  border-radius: 50%;
}

.grid-hero{
  grid-template-columns: 1.5fr 1fr;
  align-items: center;
}

.hero-des{
  margin-bottom: 3rem;
  z-index: 9999;
}

.hero-img-box{
  width: 100%;
  aspect-ratio: 16/10;
  object-fit: cover;
}

.hero-img{
width: 100%;
height: 100%;
}

.section-futurein{
  background-color: #010725;
  padding: 5rem 0 10rem 0;
}

.featurein{
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 3rem;
}

.partners{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.partners-img{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  
}

.featurein-img{
  width: 50px;
  height: 50px;
}

.partner-name{
  font-size: 2.2rem;
  align-self: center;
  justify-self: center;
  font-weight: 300;
}

.stripe{
  width: 75px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}
