.layout{
  min-width: 167rem;
    max-width: 192rem;
    margin: 0 auto;
    background-color: #010725;
}

@media (min-width: 1430px) and (max-width: 1670px){
  .layout{
    min-width: 143rem;
    max-width: 167rem;
  }
}

@media (min-width: 1279px) and (max-width: 1428px){
  .layout{
    min-width: 120rem;
    max-width: 142rem;
  }
}

@media (min-width: 1023px) and (max-width: 1276px){
  .layout{
    min-width: 102rem;
    max-width: 127rem;
  }
}

@media (min-width: 800px) and (max-width: 1022px){
  .layout{
    min-width: 80rem;
    max-width: 102rem;
}

.container{
      width: 100%;
    max-width: 167rem;
    margin: 0 auto;
    padding: 0 2.4rem;
}

@media (min-width: 1430px) and (max-width: 1670px){
  .container{
    width: 100%;
    max-width: none;
    padding: 0 2.4rem;
    margin: 0 auto;
  }
}

@media (min-width: 1279px) and (max-width: 1428px){
  .container{
    width: 100%;
    max-width: none;
  }
}
@media (min-width: 1023px) and (max-width: 1276px){
  .container{
    width: 100%;
    max-width: none;
  }
}

@media (min-width: 800px) and (max-width: 1022px){
  .layout{
    width: 100%;
    max-width: none;
}
}

.heads{
  padding: 6rem 0;
  background-color: #010725;
  z-index: 999;
}

.head{
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 9999;
}



.logo{
  width: 20rem;
  aspect-ratio: 3/1;
}

@media (min-width: 1430px) and (max-width: 1670px){
 .logo{
   width: 17rem;
 }
}

@media (min-width: 1279px) and (max-width: 1428px){
.logo{
  width: 15rem;
}
}

@media (min-width: 1023px) and (max-width: 1276px){
.logo{
  width: 12rem;
}
}
@media (min-width: 800px) and (max-width: 1022px){
  .logo{
    width: 10rem;
}


.logos{
  width: 100%;
  height: 100%;
}

.main-nav-list{
  list-style: none;
  display: flex;
  gap: 24px;
}


.section-hero{
  position: relative;
  padding: 12rem 0;
  background-color: #010725;
  z-index: 999;
}

.section-hero::after{
  content: "";
  position: absolute;
  width: 600px;
  padding-bottom: 600px;
  top: -100px;
  left: 20px;
  z-index: -1;
  background-color: rgba(1, 13, 80, 0.8);
  filter: blur(100px);
  border-radius: 50%;
}

@media (min-width: 1023px) and (max-width: 1276px){
.section-hero::after{
  width: 300px;
  padding-bottom: 450px;
}
}

.section-hero::before{
  content: "";
  position: absolute;
  width: 600px;
  padding-bottom: 600px;
  top: 200px;
  right: 100px;
  z-index: -1;
  background-color: rgba(1, 13, 80, 0.8);
  filter: blur(100px);
  border-radius: 50%;
}

@media (min-width: 1023px) and (max-width: 1276px){
.section-hero::before{
  width: 300px;
  padding-bottom: 450px;
}
}



.grid-hero{
  grid-template-columns: 1.5fr 1fr;
  align-items: center;
}

.hero-des{
  margin-bottom: 40px;
  z-index: 9999;
}

.hero-img-box{
  width: 600px;
  aspect-ratio: 2/1;
}

@media (min-width: 1023px) and (max-width: 1276px){
.hero-img-box{
  width: 500px;
}
}

.hero-img{
width: 100%;
height: 100%;
}

.section-futurein{
  background-color: #010725;
  padding: 5rem 0 10rem 0;
}

.featurein{
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 3rem;
}

.partners{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.partners-img{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  
}

.featurein-img{
  width: 50px;
  height: 50px;
}

@media (min-width: 1023px) and (max-width: 1276px){
.featurein-img{
  width: 30px;
  height: 30px;
}
}

.partner-name{
  font-size: 2.2rem;
  align-self: center;
  justify-self: center;
}

@media (min-width: 1023px) and (max-width: 1276px){
.partner-name{
  font-size: 1.7rem;
}
}

.stripe{
  width: 75px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 1023px) and (max-width: 1276px){
.stripe{
  width: 50px;
  height: 50px;
}
}