/*.     Layout and Container.   */

@media (min-width: 1430px) and (max-width: 1670px){
  .layout{
    min-width: 143rem;
    max-width: 167rem;
  }
  .container{
    width: 100%;
    max-width: none;
    padding: 0 2.4rem;
    margin: 0 auto;
  }
  
   .logo{
   width: 17rem;
 }
 h1{
  font-size: 4.8rem;
}

h2{
  font-size: 3.2rem;
}
  p{
    font-size: 1.8rem;
  }
  
  .feature-head{
    margin-bottom: 1rem;
  }
  .feature-des{
    margin-bottom: 8rem;
  }
  
  .feature-grid{
    gap: 2rem;
  }
  
  .card{
    gap: 1rem;
  }
  
  .card-icon{
   /* height: 80px;
    height: 80px;*/
    margin-bottom: 1.5rem;
  }
  
  .card-head{
    font-size: 2rem;
  }
  
  .card-p{
    font-weight: 200;
  }
  
  .card-two{
    gap: 3rem;
  }
  
}

@media (min-width: 1279px) and (max-width: 1428px){
  .layout{
    min-width: 120rem;
    max-width: 142rem;
  }
    .container{
    width: 100%;
    max-width: none;
  }
  .logo{
  width: 15rem;
}
h1{
    font-size: 4.3rem;
  }
  
  h2{
  font-size: 3.2rem;
}
   .feature-head{
    margin-bottom: 1rem;
  }
  .feature-des{
    margin-bottom: 8rem;
  }
  
  .feature-grid{
    gap: 2rem;
  }
  
  .card{
    gap: 1rem;
  }
  
  .card-icon{
    /*height: 80px;
    height: 80px;*/
    margin-bottom: 1.5rem;
  }
  
  .phone-icon{
  margin-top: 5rem;
}

  
  .card-head{
    font-size: 2rem;
  }
  
  .card-p{
    font-weight: 200;
  }
  
  .card-two{
    gap: 3rem;
  }
}

@media (min-width: 1023px) and (max-width: 1276px){
  .layout{
    min-width: 102rem;
    max-width: 127rem;
  }
    .container{
    width: 100%;
    max-width: none;
  }
  .logo{
  width: 12rem;
}
a{
  font-size: 1.3rem;
}
  .section-hero::after{
  width: 300px;
  padding-bottom: 450px;
}
.section-hero::before{
  width: 300px;
  padding-bottom: 450px;
}
h1{
  font-size: 3.6rem;
}
p{
  font-size: 1.6rem;
}
.btn-btn{
  font-size: 1.3rem;
  width: 15rem;
  padding: 1.5rem 0;
}
.btn-link{
  width: 15rem;
  padding: 1.5rem 0;
  font-size: 1.3rem;
}
.hero-img-box{
  width: 500px;
}
.featurein-img{
  width: 30px;
  height: 30px;
}
.partner-name{
  font-size: 1.7rem;
}
.stripe{
  width: 50px;
  height: 50px;
}
h2{
  font-size: 2.5rem;
}
   .feature-head{
    margin-bottom: 1rem;
  }
  .feature-des{
    margin-bottom: 5rem;
  }
  
  .feature-grid{
    gap: 2rem;
  }
  
  .card{
    gap: 1rem;
    border-radius: 3rem;
  }
  
  .card-icon{
   /* height: 60px;
    height: 60px;*/
    margin-bottom: 1.5rem;
     padding: 0.5rem;
  border-radius: 1rem;
  }
  
    .phone-icon{
  margin-top: 5rem;
}
  
  .card-head{
    font-size: 1.8rem;
  }
  
  .card-p{
    font-weight: 200;
  }
  
  .card-two{
    gap: 3rem;
  }
}


@media (min-width: 310px) and (max-width: 770px){
  .layout{
    width: 100%;
    min-width: 31rem;
    max-width: 77rem;
  }
  
 .container{
    width: 100%;
    padding: 0 1.5rem;
  }
  
  .heads{
    padding: 1rem 0;
    z-index: 999;
  }
  
  .logo{
    width: 10rem;
  }
  
  .logos{
    width: 100%;
    height: 100%;
  }
  
  .nava{
  background: radial-gradient(center at top, rgb(3, 40, 238) 0%, rgb(1, 13, 80) 100%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 15rem;
  align-items: center;
  gap: 3rem;
  backdrop-filter: blur(100px);
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  opacity: 0;
  pointer-events: none;
  visibility: none;
  z-index: 6666;
}


.main-nav-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.nav-open .nava{
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
  transform: translateX(0%);
}

  .nav-menu{
    display: block;
}

.nav-open .btn-menu{
  display: none;
}

.nav-open .btn-close{
  display: block;
}

.section-hero{
  padding: 6rem 0 10rem 0;
}

.section-hero::after{
  content: none;
}

.section-hero::before{
  bottom: 0;
  right: 0;
  width: 300px;
  padding-bottom: 150px;
  filter: blur(90px);
}

.grid-hero{
  grid-template-columns: 1fr;
  gap: 5rem;
}

h1{
  font-size: 3.6rem;
  line-height: 1.2;
  margin-bottom: 1.5rem;
}

h2{
  font-size: 2.5rem;
}

p{
  font-size: 1.6rem;
}

.hero-des{
  margin-bottom: 2rem;
}
.hero-link{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.btn-link{
  width: 30rem;
}

.btn-left{
  margin-right: 0;
}

.hero-img-box{
  width: 100%;
}

.section-futurein{
  padding: 5rem 0;
}

.featurein{
  text-transform: capitalize;
}

.partners{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: flex-start;
}

.partners > *{
  flex: 1 1 150px;
}
.partners-img{
  gap: 1rem;
}

.featurein-img{
  width: 25px;
  height: 25px;
}

.partner-name{
  font-size: 1.6rem;
}
.stripe{
  width: 50px;
  height: 50px;
}
.section-feature{
  padding: 5rem 0;
}

 .feature-head{
    margin-bottom: 1rem;
    text-align: left;
  }
  
  .feature-des{
    text-align: left;
    margin-bottom: 5rem;
  }
  
  .feature-grid{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2rem;
  padding: 0;
}

.card{
  border-radius: 2rem;
  gap: 0.5rem;
}

.card-two{
  grid-column: 2;
  grid-row: 1;
  gap: 2rem;
  padding-top: 3rem;
}

.phone-icon{
  margin-top: 0;
}

.card-icon{
  border-radius: 1rem;
  margin-bottom: 1rem;
  }
  
  .card-head{
    font-size: 1.6rem;
    margin-bottom: 0;
  }
  


}








/*. From 1022px to the lowest screensize   Mobile Toggle Button.   */


/*@media (min-width: 310px) and (max-width: 720px){
  .nav-menu{
    display: block;
}
.nava{
  background: radial-gradient(circle, rgb(3, 40, 238, 0.9) 0%, rgb(1, 13, 80) 100%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 300px;
  align-items: center;
  gap: 5rem;
  backdrop-filter: blur(100px);
  transform: translateX(100%);
  transition: all 0.3s linear;
  opacity: 0;
  pointer-events: none;
  visibility: none;
  z-index: 6666;
}

.main-nav-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}

.nav-open .nava{
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
  transform: translateX(0%);
}

.nav-open .btn-menu{
  display: none;
}

.nav-open .btn-close{
  display: block;
}

}
*/





/*@media (min-width: 310px) and (max-width: 720px){
  .grid-hero{
    grid-template-columns: 1fr;
}
}
*/








/*.           Link.      */

/*@media (min-width: 310px) and (max-width: 720px){
  .hero-link{
    display: flex;
  }
}
*/





















/*.        Section Hero */