/*.     Layout and Container.   */

@media (min-width: 1430px) and (max-width: 1670px){
  .layout{
    min-width: 143rem;
    max-width: 167rem;
  }
  .container{
    width: 100%;
    max-width: none;
    padding: 0 2.4rem;
    margin: 0 auto;
  }
}

@media (min-width: 1279px) and (max-width: 1428px){
  .layout{
    min-width: 120rem;
    max-width: 142rem;
  }
    .container{
    width: 100%;
    max-width: none;
  }
}

@media (min-width: 1023px) and (max-width: 1276px){
  .layout{
    min-width: 102rem;
    max-width: 127rem;
  }
    .container{
    width: 100%;
    max-width: none;
  }
}

/*@media (min-width: 310px) and (max-width: 720px){
  .layout{
    min-width: 31rem;
    max-width: 72rem;
}
  .container{
    width: 100%;
    max-width: none;
}
}*/

@media (min-width: 310px) and (max-width: 770px){
  .layout{
    min-width: 31rem;
    max-width: 77rem;
  }
  
  .container{
    width: 100%;
    max-width: 77rem;
    padding: 0 1.5rem;
  }
  .heads{
    padding: 1rem 0;
  z-index: 999;
  display: relative;
  }
  
  .head{
    
  }
  
  .logo{
  
  }
  .logos{
    width: 100px;
    height: 100px;
  }
  
  .nava{
    background: radial-gradient(circle, rgb(3, 40, 238, 0.9) 0%, rgb(1, 13, 80) 100%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 15rem;
  align-items: center;
  gap: 3rem;
  backdrop-filter: blur(100px);
  transform: translateX(100%);
  transition: all 0.3s linear;
  opacity: 0;
  pointer-events: none;
  visibility: none;
  z-index: 6666;
  }
  
  .main-nav-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.nav-open .nava{
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
  transform: translateX(0%);
}

.nav-open .btn-menu{
  display: none;
}

.nav-open .btn-close{
  display: block;
}

.nav-menu{
    display: block;
}

/*.    Section Hero.      */
.section-hero{
  padding: 3rem 0;
}
.grid-hero{
  grid-template-columns: 1fr;
  gap: 5rem;
}
.hero-text{
  
}

h1{
  font-size: 3rem;
}

}








/*. From 1022px to the lowest screensize   Mobile Toggle Button.   */


/*@media (min-width: 310px) and (max-width: 720px){
  .nav-menu{
    display: block;
}
.nava{
  background: radial-gradient(circle, rgb(3, 40, 238, 0.9) 0%, rgb(1, 13, 80) 100%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 300px;
  align-items: center;
  gap: 5rem;
  backdrop-filter: blur(100px);
  transform: translateX(100%);
  transition: all 0.3s linear;
  opacity: 0;
  pointer-events: none;
  visibility: none;
  z-index: 6666;
}

.main-nav-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}

.nav-open .nava{
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
  transform: translateX(0%);
}

.nav-open .btn-menu{
  display: none;
}

.nav-open .btn-close{
  display: block;
}

}
*/







/*.  Hero Section of All page.  */


@media (min-width: 1023px) and (max-width: 1276px){
.section-hero::after{
  width: 300px;
  padding-bottom: 450px;
}
}


@media (min-width: 1023px) and (max-width: 1276px){
.section-hero::before{
  width: 300px;
  padding-bottom: 450px;
}
}


/*.  Hero Section Container */


/*@media (min-width: 310px) and (max-width: 720px){
  .grid-hero{
    grid-template-columns: 1fr;
}
}
*/








/*.           Link.      */

/*@media (min-width: 310px) and (max-width: 720px){
  .hero-link{
    display: flex;
  }
}
*/





















/*.        Section Hero