*,
*::before,
*::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img{
  max-width: 100%;
  display: block;
}



html{
font-size: 62.5%;
}

body{
  position: relative;
}


/* global.css */

:root {
  /* Brand / main colors */
  --alink: #fff;
  --h1: #fff;
}

h1{
  font-size: 5.6rem;
  line-height: 1.1;
  font-weight: 700;
  color: var(--h1);
  margin-bottom: 3rem;
}

h2{
  font-size: 3.2rem;
  line-height: 1.2;
  font-weight: 600;
  
}

p{
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.6;
  color: var(--h1);
}


.grid{
  display: grid;
  gap: 20px;
}

